.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.machine-image {
  max-width: 100%;
}

@media (max-width: 767px) {
  .machine-image {
    max-width: 60% !important;
  }
}

.machine-name {
  text-align: center;
}

.user-list {
  text-align: center;
}
